.container {
    width: 600px;
    margin: auto;
    background-color: rgb(221, 221, 221);
    justify-content: space-around;
}

header {
    background-color: gray;
    color: rgb(255, 255, 255);
    border: black solid 2px;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
}

.main p {
    background-color: #ddd;
    margin: 20px 20px 0 20px;
    padding: 20px;
    text-align: justify;
    border: black solid 2px;
}

.main {
    margin-left: 10px;
}

.footer {
    background-color: black;
    background-size: 50px;
    color: #fff;
    text-align: center;
}

.footer p {
    padding: 10px;
}